.Desktop {
    font-family: Quicksand;
}

.Desktop div {
    position: relative;
}

.Banner {
    background: url("assets/main-banner.png");
    /* background-image: url(assets/main-banner.png); */
    /* -webkit-mask-image: url(assets/banner-wave.svg);
    mask-image: url(assets/banner-wave.svg); */
    background-position: center;
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.banner_text {
    font-family: Quicksand;
    color: #f2f2f2;
    width: 50%;
    margin: 4rem;
    top: 25%;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

h5 {
    font-size: 24px;
    font-weight: 500;
}

.learn_more {
    border-radius: 2px;
    background-color: #de6c17;
    border-style: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 0.406rem 1.031rem 0.375rem 1.063rem;
    font-weight: 700;
}

.our_services {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.title {
    color: #36413c;
}

.text {
    color: #5e6e66;
}

.Mask {
    margin: 0.5rem;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.18);
    display: inline;
}

.img_text {
    font-size: 18px;
    color: #5e6e66;
    margin: 1rem;
    font-weight: 500;
}

.img_title {
    color: #36413c;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}

@media (min-width:550px) and (max-width:960px) {
    .Mask {
        display: flex;
        width: 100%;
    }
    .mask_text, .img_box {
        display: flex;
        width: 48%;
        display: inline;
        align-items: flex-start;
    }
    /* h1 {
        font-size: 1.406rem;
    }
    h5 {
        font-size: 0.75rem;
    }
    .img_title {
        font-size: 0.875rem;
        ;
    }
    .img_text {
        font-size: 0.563rem;
        ;
    } */
}

@media (min-width:960px) {
    .Mask {
        width: 30%;
    }
    .continer {
        display: flex;
    }
}

@media(max-width:550px) {
    h1 {
        font-size: 30px;
    }
    h5 {
        font-size: 20px;
    }
    .img_title {
        font-size: 24px;
    }
    .img_text {
        font-size: 16px;
    }
}

.img_box img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.learn {
    color: #de6c17;
    text-decoration: none;
    bottom: 0.1rem;
    margin: 0.625rem 0.281rem 0 0.781rem;
    font-size: 18px;
    font-weight: 700;
}